@mixin media-breakpoint($breakpoint) {
	@if ($breakpoint == extra-small) {
		@media (max-width: 480px) {
			@content
		}
	}
	@if ($breakpoint == small) {
		@media (min-width: 481px) and (max-width: 800px) {
			@content
		}
	}
	@if ($breakpoint == medium) {
		@media (min-width: 801px) and (max-width: 1280px) {
			@content
		}
	}
	@if ($breakpoint == large) {
		@media (min-width: 1281px) {
			@content
		}
	}
}