@use "shared/styles/mixins" as *;

.home {
	display: flex;
	flex-direction: column;
	align-items: center;

	@include media-breakpoint(extra-small) {
		padding: 8px;
	}
	@include media-breakpoint(small) {
		padding: 16px;
	}
	@include media-breakpoint(medium) {
		padding: 24px;
		margin-top: 32px;
	}
	@include media-breakpoint(large) {
		padding: 32px;
		margin-top: 64px;
	}
}

.new-question-button {
	height: 40px;
	width: 128px;
	padding: 8px;
	margin-top: 64px;
	border: none;
	border-radius: 2px;
	box-shadow: 0 1px 2px 1px rgba(0, 0, 0, 0.2), 0 2px 4px 2px rgba(0, 0, 0, 0.1);
	background: white;
	color: #616161;
	font-family: "Mulish", sans-serif;
	font-weight: 600;
	cursor: pointer;
}