.answer {
	display: flex;
	flex: 1;
	align-items: center;
	text-align: center;
	z-index: 1;
	cursor: pointer;

	p {
		flex: 1;
		margin: 8px;
		font-weight: 600;
		color: white;
		transition: all 0.25s ease;
	}
}