@use "shared/styles/mixins" as *;

.question-with-toggles-container {
	display: flex;
	flex-direction: column;
	row-gap: 16px;
	align-items: center;
	width: 100%;
	max-width: 1040px;
	min-width: 304px;
	border-radius: 8px;
	box-shadow: 0 1px 2px 2px rgba(0, 0, 0, 0.2), 0 2px 4px 4px rgba(0, 0, 0, 0.1);

	@include media-breakpoint(extra-small) {
		padding: 24px 12px;
	}
	@include media-breakpoint(small) {
		padding: 24px 16px;
	}
	@include media-breakpoint(medium) {
		padding: 32px 24px;
	}
	@include media-breakpoint(large) {
		padding: 32px;
	}
}

.question-text {
	text-align: center;
	margin-bottom: 8px;
	font-size: 18px;
	font-weight: 600;
	color: white;
}

.toggles-container {
	display: flex;
	flex-direction: column;
	flex: 4;
	row-gap: 16px;
	width: 100%;
	max-width: 720px;

	@include media-breakpoint(medium) {
		width: 72%;
	}
}


.result {
	margin-top: 16px;
	font-weight: 600;
	color: white;
}