@use "shared/styles/mixins" as *;

.selected-answer {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	border-radius: 64px;
	background: hsla(0, 0%, 96%, 0.5);
	box-shadow: 0 0 4px 2px rgba(0, 0, 0, 0.08), 0 0 8px 4px rgba(0, 0, 0, 0.02);
	transition: all 0.25s ease;

	@include media-breakpoint(extra-small) {
		border-radius: 16px;
	}
	@include media-breakpoint(small) {
		border-radius: 32px;
	}
}

.selected-answer-column {
	width: 100%;
}

.selected-answer-first {
	border-radius: 32px 32px 0 0;
}

.selected-answer-middle {
	border-radius: 12px;
}

.selected-answer-last {
	border-radius: 0 0 32px 32px;
}