@use "shared/styles/mixins" as *;

.toggle-container {
	display: flex;
	position: relative;
	min-height: 64px;
	border: 1px solid white;
	border-radius: 64px;

	@include media-breakpoint(extra-small) {
		min-height: 48px;
		border-radius: 16px;
	}
	@include media-breakpoint(small) {
		min-height: 48px;
		border-radius: 32px;
	}
}

.toggle-container-column {
	flex-direction: column;
	border-radius: 32px;

	div {
		@include media-breakpoint(extra-small) {
			min-height: 48px;
		}
		@include media-breakpoint(small) {
			min-height: 48px;
		}
	}
}